{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "strict": [
            2,
            "safe"
        ],
        "brace-style": [
            2,
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "no-trailing-spaces": 2,
        "keyword-spacing": 2,
        "spaced-comment": [
            2,
            "always"
        ],
        "comma-dangle": [
            2,
            "never"
        ],
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            1,
            "always"
        ],
        "no-console": 0,
        "no-eval": 2,
        "no-with": 2,
        "no-unused-expressions": 0,
        "max-len": [
            1,
            120,
            4
        ],
        "indent": [
            2,
            4,
            { "SwitchCase": 1 }
        ],
        "react/prop-types": 0
    }
}
