// html {
//     background-color: rgb(230, 230, 230);
// }

#root {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

