.inline-container {
    > * {
        display: inline-block;
    }
}

.app-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
    height: 100%;
    justify-content: center;

    .video-downloads {
        margin-top: 10px;
        flex: 1;
    }
    
    .video-select {
        display: flex;
        flex-direction: row;
    }
}


