
.inline-container {
    > * {
        display: inline-block;
    }
}

.video-select,
.video-downloads {
    max-width: 1200px;
    min-width: 600px;
}

.video-downloads {
    margin-top: 25px;
    padding: 5px;
}
