
.video-select__url,
.video-select__download,
.video-select__filetype {
    padding: 5px;
}

.video-select__url {
    width: 75%;
}

.video-select__download {
    width: 100px;
}

.video-select__filetype {
    width: 30px;
}
