
.video-select__item,
.video-select__url,
.video-select__download,
.video-select__filetype {
    padding: 5px;
}

.video-select__actions {
    margin-left: -1px;
    display: flex;
    align-items: center;
}

.video-select__url {
    flex: 1;
    padding: 0 10px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid rgb(180, 180, 180);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::placeholder {
        color: #b4b4b4;
    }
}

.video-select__download {
    width: 110px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(41, 156, 197);
    height: 37px;
}

.video-select__filetype {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: rgb(159, 159, 159);
    font-weight: 400;
    font-size: 15px;
    // background-color: rgb(122, 166, 181);

    .filetype-text {
        color: rgb(82, 124, 139);
        font-weight: 500;
        padding: 2px;
        margin-left: 2px;
        font-size: 16;
        cursor: pointer;
    }
}

.video-downloads {
    border-radius: 4px;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 1px;
    background-color: rgb(255, 255, 255);
}

.video-item {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    
    &:hover {
        background-color: rgba(230, 230, 230, 0.8);

        .video-item__close {
            opacity: 0.8;
        }
    }

    > * {
        height: 50px;
    }

    &__thumbnail {
        margin: 0 10px;
    }

    &__metadata {
        flex: 1;
        width: 500px;
        margin: 0 10px;
    }

    &__progress {
        flex: 1;
        opacity: 1;
        margin: 0 10px;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 5px;
        height: 10px;
    }

    &__progress-bar {
        background-color: rgb(41, 156, 197);
        height: 10px;
        border-radius: 5px;
        width: 0;
        transition: 0.5s width;
    }

    &__actions {
        margin: 10px;
        margin-right: 5px;
        font-size: 12px;
        line-height: 50px;
    }

    &__close {
        opacity: 0.3;
        margin-left: 10px;

        img {  
            width: 12px;
            cursor: pointer;
            opacity: 0.4;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &--finished {
        .video-item__progress {
            opacity: 0;
        }
    }
}

.video-item__actions {
    &__folder {
        margin-right: 20px;
        color: rgb(41, 156, 197);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    &__play {
        color: rgb(169, 204, 91);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.video-metadata {
    display: flex;
    flex-direction: column;
    align-content: center;

    &__title {
        flex: 1;
        font-weight: 500;
        font-size: 14px;
        color: rgb(77, 77, 77);
    }

    &__details {
        font-weight: 400;
        font-size: 12px;
        color: rgb(102, 102, 102);
    }

    &__length {
        margin-right: 20px;
        
        img {
            width: 14px;
            margin-right: 5px;
            display: inline-block;
            margin-bottom: -2px;
            opacity: 0.5;
        }
    }

    &__size {
        img {
            width: 14px;
            margin-right: 5px;
            display: inline-block;
            margin-bottom: -2px;
            opacity: 1;
        }
    }
}

.header {
    height: 50px;
    display: flex;
    // -webkit-user-select: none;
    flex-direction: row;
    align-items: center;

    &__draggable {
        flex: 1;
        -webkit-app-region: drag;
        color: rgb(159, 159, 159);
        text-align: center;
        font-weight: 500;
        width: 100%;
        height: 100%;
    }

    &__title {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        color: rgb(159, 159, 159);
        user-select: none;
    }

    .window-control {
        height: 25px;
        color: rgb(159, 159, 159);
        outline: none;
        padding: 2px;
        z-index: 1;

        &:hover {
            color: rgb(100, 100, 100);
        }
    }
}

.footer {
    margin: 10px 0;

    &__change-folder-button {
        margin-right: 20px;
        color: #495057;
        background-color: rgb(230, 230, 230);
        box-shadow: 0.5px 0.5px 1px 1px;
        
        &:hover {
            background-color: rgb(240, 240, 240);
        }
    }

    &__save-folder {
        color: rgb(41, 156, 197);
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
    }
}

.empty-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;

    .bold {
        display: inline-block;
        margin: 0 2px -5px 2px;
        font-weight: 500;
        color: rgb(100, 100, 100);
    }
}
