
.video-select__item,
.video-select__url,
.video-select__download,
.video-select__filetype {
    padding: 5px;
}

.video-select__actions {
    margin-left: -1px;
}

.video-select__url {
    flex: 1;
}

.video-select__download {
    width: 120px;
}

.video-select__filetype {
    width: 70px;
    margin-left: -1px;
}

.video-downloads {
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 1px;
    background-color: rgb(255, 255, 255);
}

.video-item {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    
    &__thumbnail {
        width: 65px;
        margin: 0 10px;
    }

    &__metadata {
        width: 350px;
        margin: 0 10px;
    }

    &__progress {
        flex: 1;
        margin: 0 10px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 5px;
        height: 10px;
    }

    &__progress-bar {
        background-color: rgb(117, 156, 170);
        height: 10px;
        border-radius: 5px;
        width: 0;
        transition: 0.5s width;
    }

    &__actions {
        width: 75px;
        margin: 0 10px;
    }
}

.titlebar {
    height: 50px;
    // -webkit-user-select: none;
    -webkit-app-region: drag;
}

.footer {
    margin: 10px 0;

    &__change-folder-button {
        margin-right: 10px;
    }
}
